<%- include('head'); %>

    <body>
        <div class="wrapper">
            <%- include('menu_lateral'); %>
                <div id="content">
                    <%- include('navbar'); %>
                        <section
                            style="background-color: #42ebcc; padding: 5px; display: flex; justify-content: center; align-items: center;height: 78%; ">
                            <div class="container mt-1 form-container-produto">
                                <h2>Edição de Produtos</h2>
                                <% dadosProduto.forEach(function(dados) { %>
                                    <form action="/usuario01/editaProduto/<%= dados.id_produto %>" enctype="multipart/form-data" method="POST">
                                        <% if (dadosEstabelecimento) { %>
                                            <div class="form-group">
                                                <label for="categoria">Categoria:</label>
                                                <select class="form-control" id="categoria" name="categoria">
                                                    <% dadosCat.forEach(function(dados) { %>
                                                        <option value="<%= dados.nm_categoria %>"><%= dados.nm_categoria %></option > 
                                                    <% }) %>
                                                </select required>
                                            </div>   
                                        <% } else { %>

                                        <% } %> 
                                            
                                        <div class="form-group">
                                            <label for="descricao">Descrição:</label>
                                            <textarea class="form-control"  id="descricao" name="descricao"
                                                rows="4" required><%= dados.descricao %></textarea>
                                        </div>
                                        <div class="form-group">
                                            <label for="preco">Preço:</label>
                                            <input type="text" class="form-control" value="<%= dados.preco %>" id="preco" name="preco" placeholder="Digite o preço" required>
                                        </div>
                                        <% if (dadosUsuario) { %>
                                            <div class="form-group">
                                                <label for="endereco">Local:</label>
                                                <input type="text" class="form-control" value="<%= dados.local %>" name="endereco" placeholder="Digite o nome do estabelecimento" required>
                                            </div>   
                                        <% } else { %>
                                            
                                        <% } %> 
                                        <div class="form-group">
                                            <label for="imagem">Imagem:</label>
                                            <input type="file" name="imagem" class="form-control" required>
                                        </div>
                                        <br>
                                        <button type="submit" class="btn btn-outline-light">Editar  <i class="fas fa-user-edit"></i></button>
                                    </form>
                                <% }) %>
                            </div>

                            <%- include('script'); %>
    </body>

    </html>